.catchPokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catchPokemon__reloadButton {
    background-color: transparent;
    color: white;
    border: none;
    transition: 1s;
}

.catchPokemon__reloadButton:hover,
.catchPokemon__reloadButton:focus {
    transform: rotate(720deg);
}

.catchPokemon__pokemonTilesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1600px;
    padding-inline: 8px;
}
.catchPokemon__pokemonTilesContainerHeader {
    text-align: center;
    font-size: large;
}

.catchPokemon__pokemonTiles {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
