.inventory {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inventory__pokemonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inventoryPokemon {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
