#inventory-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inventory-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inventory-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
