@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #282c34;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

button {
    cursor: pointer;
    transition: 250ms;
}

button:hover {
    scale: 1.1;
}

.button-1 {
    background-color: #90ee90;
    border: black solid 2px;
}

.button-1:hover {
    background-color: #41bd41;
}

.button-2 {
    background-color: lightcoral;
    border: black solid 2px;
}

li {
    margin: 0;
    list-style: none;
}
ul {
    padding: 0;
}

nav {
    background-color: rgb(119, 31, 31);
    padding-block: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.hidden {
    display: none;
}

.darkbg-link {
    text-decoration: underline;
}

.popup {
    animation-name: popup;
    animation-duration: 250ms;
}

@keyframes popup {
    from {
        transform: scale(0%);
    }

    to {
        transform: scale(100%);
    }
}
